h1.page-header{
    color: #a0a0a0;
}
h3.page-footer{
    color: #a0a0a0;
}
controlgroup.page-content{
    color: #a0a0a0;
}
.bg-main{
    background: #505050 ;
}
.bg-content{
    background: #505050 ;
}
img.round-bg{
    
}